.App {
    text-align: center;
}
tr.active{
    background-color: rgba(0, 0, 0, .075);
}
.table tr:hover{
    cursor: pointer;
}

input[type="color"] {
    margin-right: 8px;
    border: none;
    background: none;
    height: auto;
    width: auto;
    &::-webkit-color-swatch-wrapper {
        height: 16px;
        width: 16px;
        padding: 0;
        outline: none;
    }
    &::-webkit-color-swatch {
        border: 1px solid black;
        border-radius: 4px;
        outline: none;
    }
}
.colorPicker {
    display: inline-flex;
    align-items: center;
    width: 150px;
    max-width: 150px;
    padding: 4px 12px;
    border: 1px solid #bfc9d9;
    border-radius: 4px;
    outline: none;
}

input[type="text"] {
    border: none;
    width: 100%;
    font-size: 14px;
    outline: none;
}

.drag-drop-zone {
  padding: 2rem;
  text-align: center;
  background: #07F;
  border-radius: 0.5rem;
  box-shadow: 5px 5px 10px #C0C0C0;
}
.drag-drop-zone p {
  color: #FFF;
}
.drag-drop-zone.inside-drag-area {
  opacity: 0.7;
}
.dropped-files li {
  color: #07F;
  padding: 3px;
  text-align: left;
  font-weight: bold;
}

@media (max-width: 1000px) {
    .row {
        flex-direction: column;
    }
}
